[settings]
project-name = Campbell River AP
percentiles = 1,5,25,50,75,95,99
output = C:\Users\justi\Desktop
epw = C:\Users\justi\Downloads\TMYx\CAN_BC_Campbell.River.AP.718936_TMYx.epw
epw2 = C:\Users\justi\Dropbox\Architecture_Design\Data\EPWs\3_Present\CAN_BC_Vancouver.Intl.AP.718920_CWEC2016\CAN_BC_Vancouver.Intl.AP.718920_CWEC2016.epw
latitude = -125.271
longitude = 49.951
elevation(m) = 80
utcoffset = -8
baselinestart = 1973
baselineend = 2018
pathwaylist = ssp126,ssp245,ssp585
yearranges = 2015,2035|2035,2065|2065,2095
uwg = no
usaf = none
wban = none
variables = tas,tasmax,tasmin,clt,psl,pr,huss,vas,uas,rsds
loop = True
loop_settings_file = C:\Users\justi\Dropbox\UBC\09 ETA Lab\09_MACCaUSP\BIGMACC\General Data\population_centers.csv
epwdir = C:\Users\justi\Downloads\TMYx
elevation = 105.5

