[settings]
project-name = first_project
percentiles = 5,50,95
output = C:\Users\justi\Desktop
epw = none
latitude = 49.264703
longitude = -123.148943
baselinestart = 1976
baselineend = 2005
pathway = historical
futurestart = 2035
futureend = 2065
uwg = no
usaf = none
wban = none
variables = tas,tasmax,tasmin,clt,psl,pr,huss,vas,uas,rsds

[urbanweather]
one = 1