[settings]
project-name = first_project
percentiles = 5,50,95
output = C:\Users\justi\Desktop
epw = C:\Users\justi\Dropbox\Architecture_Design\Data\EPWs\3_Present\CAN_BC_Vancouver.Intl.AP.718920_CWEC2016\CAN_BC_Vancouver.Intl.AP.718920_CWEC2016.epw
latitude = 49.264703
longitude = -123.148943
elevation(m) = 50
utcoffset = -8
baselinestart = 1976
baselineend = 2005
pathway = ssp245
yearranges = 2015,2035|2035,2065|2065,2095
uwg = no
usaf = none
wban = none
variables = tas,tasmax,tasmin,clt,psl,pr,huss,vas,uas,rsds