[settings]
project-name = 2b
percentiles = 1,5,25,50,75,95,99
output = /Users/jmccarty/GitHub/cmip6_and_buildings/weather_files/morphed/2b
epw = /Users/jmccarty/GitHub/cmip6_and_buildings/weather_files/tmy3/2b.epw
latitude = 33.45000
longitude = -111.9830
elevation(m) = 337.0
utcoffset = -7.0
baselinestart = 1973
baselineend = 2005
pathwaylist = historical,ssp126,ssp245,ssp585
yearranges = 2020,2050|2035,2065|2050,2080|2065,2095
modelsources = /Users/jmccarty/Nextcloud/Projects/13_CISBAT23_idf/morphed/modelsources.csv
uwg = False
uwg_params_path = none /Users/jmccarty/Nextcloud/Projects/2021_04_Bufacchi_Waibel/SG/SG_uwg_params.uwg
usaf = none
wban = none
variables = tas,tasmax,tasmin,clt,psl,pr,huss,vas,uas,rsds
loop = False
loop_settings_file =
epwdir =