[settings]
project-name = kirk_yiqiao
percentiles = 1,50,99
output = /Users/jmccarty/Nextcloud/Teaching/23_FS/CompECD/weather_files/kirk_yiqiao5
epw = /Users/jmccarty/Nextcloud/Teaching/23_FS/CompECD/weather_files/kirk_yiqiao5/CHE_GR_Andeer.067870_TMYx.2004-2018.epw
latitude = 46.61000
longitude = 9.43190
elevation(m) = 989
utcoffset = 1.0
baselinestart = 2010
baselineend = 2025
pathwaylist = historical,ssp585
yearranges = 2035,2065|2065,2095|2073,2087
modelsources = /Users/jmccarty/Nextcloud/Teaching/23_FS/CompECD/weather_files/kirk_yiqiao5/modelsources.csv
uwg = False
uwg_params_path = none /Users/jmccarty/Nextcloud/Projects/2021_04_Bufacchi_Waibel/SG/SG_uwg_params.uwg
usaf = none
wban = none
variables = tas,tasmax,tasmin,clt,psl,pr,huss,vas,uas,rsds
loop = False
loop_settings_file =
epwdir =