[settings]
project-name = polikseni_temperature_morph
percentiles = 1,25,50,75,99
output = /Users/jmccarty/Nextcloud/Teaching/22_HS/polikseni_bano/polikseni_share/epw_morph_temp3
epw = /Users/jmccarty/Nextcloud/Teaching/22_HS/polikseni_bano/polikseni_share/epw_morph/fluntern_TMYx2007-2021.epw
latitude = 47.37810
longitude = 8.56580
elevation(m) = 557.6
utcoffset = 1.0
baselinestart = 2007
baselineend = 2021
pathwaylist = historical,ssp245
yearranges = 2005,2035|2020,2050|2035,2065|2050,2080|2065,2095
modelsources = /Users/jmccarty/Nextcloud/Teaching/22_HS/polikseni_bano/polikseni_share/epw_morph/modelsources_polikseni.csv
uwg = False
uwg_params_path = /Users/jmccarty/Nextcloud/Projects/2021_04_Bufacchi_Waibel/SG/SG_uwg_params.uwg
usaf = none
wban = none
variables =  tas,tasmax,tasmin
loop = False
loop_settings_file =
epwdir =